<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Breno Moreira </title>

    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <header>
        <nav>
            <h1> &lt;/Myfolio&gt; </h1>

            <ul>
                <li> <a> Sobre mim </a> </li>
                <li> <a> Projetos </a> </li>
                <li> <a> Contato </a> </li>
            </ul>
        </nav>

        <div id="banner_header">
            <div id="text_bannerheader">
                <div>
                    <h1> Olá! meu nome é Breno </h1>
                    <h2> Sou um <span>web</span> developer </h2>
                    <button> Currículo</button>
                    <div id="bannerheader_icons">
                        <img src="img/blue_linkedin.png">
                        <img src="img/instagram.png">
                        <img src="img/whatsapp.png">
                        <img src="img/github.png">
                    </div>
                </div>
            </div>

            <div id="img_bannerheader">
                <img src="img/programmer.png">
            </div>
        </div>
    </header>

    <main>
        <div id="tecnologias">
            <div id="list_tec">
                <h2> TECNOLOGIAS QUE EU UTILIZO: </h2>
            </div>
            <div id="icons_tec">
                <img src="img/html.png">
                <img src="img/css-3.png">
                <img src="img/nodejs.png">
                <img src="img/js.png">
            </div>
        </div>

        <div id="about_me">
            <div id="aboutme_container">
                <div id="image_me">
                    <img src="img/me.png">
                </div>
                <div id="text_me">
                    <h2> Sobre mim </h2>
                    <hr>
                    <p> Meu nome é Breno, nasci no dia 01/10/2004 e possuo grande fascínio pelo mundo da tecnologia. </p>
                    <p> Tive minhas primeiras aulas de programação no primeiro ano do ensino médio integrado ao técnico em informática no IFSP e me interessei pela área, começando meus estudos individuais. </p>
                    <p> Atualmente, me formei no ensino médio e estou começando meu primeiro ano letivo em análise e desenvolvimento de sistemas. Busco evoluir como profissional e receber oportunidades para ganhar experiência </p>
                </div>
            </div>
        </div>

        <div id="projects">
            <div id="projects_title">
                <h2> PROJETOS RECENTES: </h2>
            </div>
            <div id="projects_all">
                <div id="project_one" class="projects">
                    <div class="em_producao">
                         <h1> EM ANDAMENTO </h1>
                    </div>
                </div>
                <div id="project_two" class="projects">
                    <div class="em_producao">
                        <h1> EM ANDAMENTO </h1>
                    </div>
                </div>
                <div id="project_three" class="projects">
                    <div class="em_producao">
                        <h1> EM ANDAMENTO </h1>
                    </div>
                </div>
            </div>
            <!-- VER TODOS -->
            <!-- ADD PROJECTS WITH LOGIN ADMIN -->
        </div>

        <div id="see_all">
            <button> VER TODOS </button>
        </div>
    </main>

    <footer>
        <div id="contact">

        </div>
    </footer>
</body>
</html>